.info__window {
  display: flex;
  flex-direction: column;
  align-items: center;

  .info__window--block {
    margin-bottom: 10px;
  }

  .info__window--buttons {
    display: flex;
    width: 100%;
    margin-top: 15px;
    .info--btn {
      width: 100%;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      background-color: #0096d9;
      color: white;
      font-weight: 900;
      padding: 7px;

      &:nth-child(1) {
        margin-right: 5px;
      }
    }
  }
  .info__window--hostName {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
  }
}
