dist/*
node_modules/*
package-lock.json
.vscode/*
public_dist/app.css
public_dist/bundle.js
req.rest
goorm.manifest
v8-compile-cache-0/*
acme-challenge/*
nohup.out
npm-debug.log
public_dist/upload/*
public_dist/qrcode/*
public_dist/bundle_autocomplete.js
public_dist/bundle_maps.js
public_dist/bundle_placecomplete.js
public_dist/lightMap.js