section#boast
    div.boast__columns
        div.boast__column
            h3.boast__column--paragraph BeLight 영상소개
            video(autoplay muted controls width="700" height="500")
                source(src="dummy-video.mp4" type="video/mp4")