section#cities
    div.cities__header
        h1.cities__header--title.text 도시
        p.cities__header--text.text 국내 최고의 네트워크 시스템으로 자동운반 비라이트

    div.cities__contents
        div.cities__contents--seoul.block
            h2.cities__contents--cname.cname 서울

        div.cities__contents--jeonju.block.center
            h2.cities__contents--cname.cname 전주

        div.cities__contents--busan.block
            h2.cities__contents--cname.cname 부산
