footer.footer
    div.footer__header
        img(src="images/top_button.png" alt="top_button" class="top")
    div.footer__columns
        div.footer__column
            img(src="images/logo_new.png" alt="footer_logo" class="footer__column--logo")
            p.footer__column--comment 비라이트는 물류 시스템의 미래를 선도합니다.
            p.footer__column--comment © BeLight. 2019
        
        div.footer__column.align
            p.footer__column--comment.follow Follow us on
            div.footer__column--images
                img(src="images/facebook.png" alt="facebook" class="footer__column--fb sns")
                img(src="images/instagram.png" alt="instagram" class="footer__column--inst sns")
                img(src="images/twitter.png" alt="twitter" class="footer__column--twit sns")
        
        div.footer__column
            p.footer__column--comment.bold Luggage storage
            p.footer__column--comment.bold Luggage storage
            p.footer__column--comment.bold Luggage storage
            p.footer__column--comment.bold All our cities

        div.footer__column
            p.footer__column--comment.bold Our Blog
            p.footer__column--comment.bold World Tour
            p.footer__column--comment.bold Help

        div.footer__column
            div.footer__column__help
                img(src="images/manager.png" alt="manager" class="managerimg")
                div.footer__column__help--block
                    p.footer__column__help--lgtext 고객센터
                    p.footer__column__help--lgtext 1655 - 1655