header.header
    div.header__left 
        img(src="images/logo.png", alt="logo" class="header__left--logo")

    div.header__contents
        div.header__contents--block
            input(type="text" placeholder="짐을 맡길 장소" class="input__place" name="dropPlace")
        
        input(type="button" value="Search" class="header__contents--searchBtn global__searchBtn")