header.header
    div.header__left 
        img(src="images/logo_header_new.png", alt="logo" class="header__left--logo")
    div.header__right
        ul.header__menu
            li.header__menu--price 가격
            li.header__menu--help 도움말
            // li.header__menu--partner 파트너 가입
            li.header__menu--login 로그인
