section#price
    div.price__header
        h1.price__header--title.text 이용금액
        h3.price__header--text.text 현존하는 어떤 보관 서비스보다 저렴한 가격 보장
    div.price__contents
        div.price__contents__header
            h2.price__contents__header--text.text 가격보기

        div.price__contents__columns
            img(src="images/planA_new.png" alt="planA" class="price__contents__column")
            img(src="images/planB.png" alt="planB" class="price__contents__column")
            
        div.price__contents__block
            p.price__contents__column--intro.text 수화물 보관소는 온라인으로 예약해야하며, 현장에서는 결제가 불가합니다.
        
        div.price__contents__explan
            div.price__contents__explan--block
                img(src="images/check.png" alt="check" class="checkimg")
                h2.price__contents__explan--text.text 보험 포함(150만원)

            div.price__contents__explan--block
                img(src="images/check.png" alt="check" class="checkimg")
                h2.price__contents__explan--text.text 쉬운 취소 : 언제든 환불 가능

            div.price__contents__explan--block
                img(src="images/check.png" alt="check" class="checkimg")
                h2.price__contents__explan--text.text 짐의 크기와 무게 제한이 없습니다.