section#use
    div.use__header
        h1.use__header--text 사용방법
    div.use__contents
        div.use__contents__columns
            div.use__contents__column
                div.use__contents__column--block
                    img(src="images/left_arrow.png" alt="left_arrow" class="down_arrowimg arrowimg none")

                img(src="images/step1.png" alt="step1" class="step1img stepimg")
                p.use__contents__column--header.text STEP 1
                p.use__contents__column--content.text 예약하기

            img(src="images/right_arrow.png" alt="right_arrow" class="right_arrowimg arrowimg")
            
            div.use__contents__column
                div.use__contents__column--block
                    img(src="images/down_arrow.png" alt="down_arrow" class="down_arrowimg arrowimg none")

                img(src="images/step2.png" alt="step2" class="step2img stepimg")
                p.use__contents__column--header.text STEP 2
                p.use__contents__column--content.text 짐 맡기기
            img(src="images/right_arrow.png" alt="right_arrow" class="right_arrowimg arrowimg")

            div.use__contents__column
                div.use__contents__column--block
                    img(src="images/down_arrow.png" alt="down_arrow" class="down_arrowimg arrowimg none")

                img(src="images/step3.png" alt="step3" class="step3img stepimg")
                p.use__contents__column--header.text STEP 3
                p.use__contents__column--content.text 짐 이동

        div.use__contents__columns
            div.use__contents__column
                div.use__contents__column--block
                    img(src="images/left_arrow.png" alt="left_arrow" class="left_arrowimg arrowimg none")
                img(src="images/step6.png" alt="step6" class="step6img stepimg")
                p.use__contents__column--header.text STEP 6
                p.use__contents__column--content.text 짐 찾기
            
            img(src="images/left_arrow.png" alt="left_arrow" class="left_arrowimg arrowimg")

            div.use__contents__column
                div.use__contents__column--block
                    img(src="images/left_arrow.png" alt="left_arrow" class="left_arrowimg arrowimg none")
                img(src="images/step5.png" alt="step5" class="step5img stepimg")
                p.use__contents__column--header.text STEP 5
                p.use__contents__column--content.text 이동 하기

            img(src="images/left_arrow.png" alt="left_arrow" class="left_arrowimg arrowimg")

            div.use__contents__column
                div.use__contents__column--block
                    img(src="images/down_arrow.png" alt="down_arrow" class="down_arrowimg arrowimg")
                img(src="images/step4.png" alt="step4" class="step4img stepimg")
                p.use__contents__column--header.text STEP 4
                p.use__contents__column--content.text 여행 하기
        
    div.use__footer
        span.use__footer--searchBtn 짐 보관장소 찾기
